# Deployment configuration
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kf-frontend 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: u4c2j2w9.c1.gra9.container-registry.ovh.net/kf/frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
      imagePullSecrets:
      - name: registrycred  # Make sure the secret is created as mentioned before

---

      
      
